[Desktop Entry]
Version=1.0
Type=Application
Name=Start lidar Script
Exec=/home/nvidia/atv_ws/src/self_start/exp/startlidarcamera.sh
Icon=/home/nvidia/atv_ws/src/self_start/image/gy.jpg
Terminal=true
